{% extends "base.html" %}

{% block content %}
<script>
	function join_group(id) {
		window.location.href = 'https://maxitune.net/join_group/' + id
	}

	function leave_group(id) {
		window.location.href = 'https://maxitune.net/leave_group/' + id
	}
</script>
{% for (id, group) in groups %}
<div class="container row">
	{% for (user, _) in group.users.iter() %}
	<div class="col-2"><img src="{{ user.avatar }}" height="64">{{ user.username }}</div>
	{% endfor %}
	{% if group.users.len() < 4 %}
	{% if let Some(user) = user %}
	{% if !group.contains_user(user) %}
	<div class="col d-flex justify-content-end">
		<button type="button" class="btn btn-primary col-2" onclick="join_group('{{id}}')">Join</button>
	</div>
	{% else %}
	<div class="col d-flex justify-content-end">
		<button type="button" class="btn btn-primary col-2" onclick="leave_group('{{id}}')">Leave</button>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	
</div>
{% endfor %}
{% endblock content %}
